#gdWandPanel:not(.hidden){
  display:block!important;
  visibility:visible!important;
  opacity:1!important;
  pointer-events:auto!important;
  z-index:99998!important;
}
body.gps-active #gdWandPanel.gdGpsModuleDock:not(.hidden){
  display:block!important;
  visibility:visible!important;
  opacity:1!important;
  pointer-events:auto!important;
}
